# Required Vars
API_HASH=621fe04f667d306762c3ea10a0aee73f
API_ID=27524835
BOT_TOKEN=6645546119:AAGas85vKVymDkpmSy-Y2Nqp6MyI3g0QSCU
DATABASE_URI=
LOG_CHANNEL=

# Optional Vars
SUDO=617426792
DATABASE_NAME=MissKatyDB
SUPPORT_CHAT=YasirPediaChannel
COMMAND_HANDLER=
USER_SESSION=
OPENAI_API=
BARD_API=
CURRENCY_API=
